body {
  font-family: Arial;
}

.centered_header {
  text-align: center;
}

.cols {
  padding: 30px;
  display: flex;
}

.left_col {
  width: 50%;
  float: left;
}

.right_col {
  width: 50%;
  float: right;
}